.navbar {
  --fs-list-item: 1rem;
  --icon-size: 24px;
  --profile-picture-size: 36px;
  --arrow-icon-size: 18px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  padding: 1rem 4rem;
  background: linear-gradient(hsla(0, 0%, 0%, 0.75), hsla(0, 0%, 0%, 0));
  z-index: 1;

  & &__logo {
    width: 100px;
  }

  & &__list {
    display: flex;
    gap: 1.2rem;
    list-style: none;
    flex-grow: 1;
  }

  & &__list-item {
    color: var(--clr-white);
    font-size: var(--fs-list-item);
  }

  & &__user-section {
    display: flex;
    gap: 1rem;
  }

  & &__profile {
    display: flex;
    gap: 0.5rem;
    flex-shrink: 0;
    position: relative;
  }

  & &__search-icon,
  & &__notifications-icon {
    width: var(--icon-size);
  }

  & &__profile-picture {
    border-radius: 6px;
    width: var(--profile-picture-size);
  }

  & &__dropdown-arrow {
    width: var(--arrow-icon-size);
  }

  @media (max-width: 1050px) {
    --fs-list-item: 0.7rem;
    --icon-size: 24px;
    --profile-picture-size: 36px;
    --arrow-icon-size: 18px;
  }
}
